php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_value error_log logs/PHP_errors.log

<Limit GET HEAD POST PUT DELETE OPTIONS>
# Deprecated apache 2.2 syntax:
# Order Allow,Deny
# Allow from all
# Apache > 2.4 requires:
Require all granted
</Limit>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MyProject/
    
    # Αν το αίτημα δεν αντιστοιχεί σε αρχείο ή φάκελο
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Ανακατεύθυνση όλων των αιτημάτων στο qwirkler.php
    RewriteRule ^(.*)$ qwirkler.php [QSA,L]
</IfModule>
